.simpsons {
    display: flex;
    justify-content: space-evenly;
}
.simpsons > div > img {
    max-width: 200px;
    max-height: 300px;
}
.simpsons > div {
    width: 220px;
}
.simpsons > div > h3 {
    text-align: center;
}
.simpsons > div > p {
    text-align: justify;
}

.rickAndMorty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.rickAndMorty > div {
    max-width: 200px;

}
.rickAndMorty > div > img {
    max-width: 200px;
}