body {
  background: gray;
  color: whitesmoke;
}
form {
  margin: 25px 0;
}
.car {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 15px;
  padding-left: 20px;
  width: 300px;
}
input {
  height: 35px;
}
button {
  height: 40px;
  background: black;
  border-radius: 3px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
}
button:hover {
  box-shadow: 0px 0px 3px 1px #000000;
}
.carButtons > button {
  margin: 15px 5px 15px 0;
  background: darkslategray;
  height: 25px;
}
.errors {
  color: crimson;
  background: rgb(180, 178, 178);
  padding-left: 15px;
  width: 300px;
  margin-top: 10px;
  border-radius: 3px;
}
.errors > span {
  display: block;
  text-align: center;
}
