body {
  background: gray;
  color: whitesmoke;
}
.car {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 15px;
  padding-left: 10px;
}
input {
  height: 35px;
}
button {
  height: 40px;
  background: black;
  border-radius: 3px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
}
